:root {
  --primary-color: #002f34;
  --white-color: #fff;
  --black-color: #000;
  --light-gray: #002f3408;
  --text-color: #002f34;
  --border-radius: 3px;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--black-color);
  margin: 0;
}
textarea {
  width: 50%;
  display: block;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}
select {
  width: 50%;
  display: block;
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  margin: 1rem 0;
}
.app {
  min-height: 80vh;
  /* background: var(--light-gray); */
}
.container {
  width: 90%;
  margin: 0 auto;
}
